.App {
  text-align: center;
  background: hsla(30, 2%, 78%, 0.534);

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurflist{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smurf{
  background: rgba(0, 225, 255, 0.925); 
  margin: 1rem;
  padding: 1rem;
  width: 40rem;
  border: 3px solid black;
}